:root {
    --colorYellow: #E9C46A;
    --colorGreen: #264653;
    --colorHover: #2a9d8f;
}


*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

#app{
  background-color: var(--colorYellow);
  min-height: 100vh;
}

/* SignIn - SignUp - SignOut Component */

.container-sign{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: var(--colorYellow); 
    width: 100vw;
    height:100vh;
    border: 0px solid #264653ff;
}

.form-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-sign-in{
    display: flex;
    align-items: center;
    flex-direction: column;
}
    
.header-title {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    color: var(--colorGreen);    
}

.header-subtitle {
    font-size: 15px;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    color: #264653dd;
    font-weight: 600;  
}

.input-field-label{
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
    text-align: center;
    color: #264653ff;
    font-size: 12px; 
    border: none;
}

.input-field{
    border-radius: 3px;
    border: 1px solid #264653ff;
    color: var(--colorGreen);
    margin-bottom: 20px;
    padding: 10px 12px;
    font-size: 12px; 
    border:none;
    text-align: center;

}

.button{
    padding: 10px 40px;
    border-radius: 3px;
    font-size: 12px; 
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--colorGreen);
    border: none;
    font-weight: 800;
    color: #fafafa;
    cursor: pointer;
    
}

.button:hover{
    background-color: var(--colorHover); 
}

.create-account{
    font-size: 12px;
    color: var(--colorGreen);
    font-weight: 600;
}

.sign-up-link{
    text-decoration: none;
}

.show-password{
  position: relative;
}

.passwordFieldIcon{
  background-image: url(./images/noun-hidden-5275329.png);
  width: 10px;
  height: 10px;
  background-position: center;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 15px; 
  position: absolute;
  right: 5px; 
}

.passwordFieldIconShow{
  background-image: url(./images/noun-view-5337139.png);
  width: 10px;
  height: 10px;
  background-position: center;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 15px; 
  position: absolute;
  right: 5px; 
}


/* Nav component */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--colorGreen);
   }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
  }

  nav ul li {
    margin-left: 12px;
    margin-right: 12px;
  }

  .router-link {
    text-decoration: none;
    font-size: small;
    color: #fafafa;
    font-weight: bold;
  }

  .router-link:hover{
    color: var(--colorHover);;
  }

  .log-out-welcome{
    font-size: small;
    font-weight: bold;
    color: #fafafa;
  }

  .button-log-out{
    padding: 10px 40px;
    border-radius: 3px;
    font-size: 12px; 
    width: 100%;
    background-color: #fafafa;
    border: none;
    font-weight: 800;
    color: var(--colorGreen);
    cursor: pointer;
  }

  .button-log-out:hover{
    background-color:var(--colorHover);
    color: #fafafa;
  }

  /* NewTask Component*/

  .new-task{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-new-task{
    text-align: center;
    padding-top: 40px;
    color: var(--colorGreen);
    margin-bottom: 10px;
  }

  .new-task-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-field-new-task{
    border-radius: 3px;
    height: 50px;
    width: 300px;
    margin: 10px;
    font-size: 12px; 
    border:none;
    text-align: center;
  }

  .button-add-task{
    height: 40px;
    width: 100px;
    border-radius: 3px;
    font-size: 12px; 
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: var(--colorGreen);
    border: none;
    font-weight: 800;
    color: #fafafa;
    cursor: pointer;
    text-align: center;
  }

  .button-add-task:hover{
    background-color:var(--colorHover);
  }

  .error-text{
    font-size: 12px;
    color: #E76F51;
    text-align: center;
    font-weight: 800;
  }

  /* TaskItem Component*/

  .task-item{
    padding: 40px;
    align-items: center;
  }

  
  .container-task-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    padding-bottom: 100px;
    justify-content: center;
  }

  .task-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fafafa;
    padding: 10px 20px;
    border-radius: 22px;
    border: 2px solid #fafafa;
    width: 350px;    
  }

  .task-item:hover{
    box-shadow: 1px 1px 3px 3px #264653bb;
    cursor: pointer;
    border: none;
  }

   .completed {
    text-decoration: line-through;
    text-align: left;
    color: #264653bb;
    margin: 10px;
  } 
  
  .not-completed {
    color: var(--colorGreen);
    text-align: left;
    margin: 10px;
}

  .buttons-task-item{
    display: flex;
    flex-direction: row; 
  }

  .buttons{
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 12px; 
    margin-bottom: 20px;
    margin: 10px;
    background-color: var(--colorGreen);
    border: none;
    font-weight: 800;
    color: #fafafa;
    cursor: pointer;
    text-align: center;
  }

  .edit-task{
    display: flex;
    flex-direction: column;
  }

  .input-edit{
    border-radius: 3px;
    padding: 10px 50px;
    margin: 4px;
    font-size: 12px; 
    border: 2px #264653bb;
    background-color: #26465340;
    text-align: center;
  }

  button{
    cursor: pointer;
  }

  .buttons-1{
    background-image: url(/buttons/delete.svg);
    width: 3px;
    height: 3px;
    background-position: center;
    border: none;
    margin: 10px;
    padding: 30px;
    background-color: var(--colorYellow);
    border-radius: 150px;
    background-repeat: no-repeat;
    background-size: 15px;  
  }

  .buttons-1:hover{
    background-color: var(--colorHover);
  }

  .buttons-2{
    background-image: url(/buttons/edit.svg);
    width: 4px;
    height: 4px;
    background-size: cover;
    background-position: center;
    border: none;
    margin: 10px;
    padding: 30px;
    background-color: var(--colorYellow);
    border-radius: 150px;
    background-repeat: no-repeat;
    background-size: 20px;      
  }

  .buttons-2:hover{
    background-color: var(--colorHover);
  }

  .buttons-3{
    background-image: url(/buttons/check.svg);
    background-size: cover;
    background-position: center;
    border: none;
    margin: 10px;
    padding: 30px;
    background-color: var(--colorYellow);
    border-radius: 150px;
    background-repeat: no-repeat;
    background-size: 25px;     
  }

  .buttons-3:hover{
    background-color: var(--colorHover);
  }

  .button-change{
    border-radius: 3px;
    padding: 10px 50px;
    margin: 4px;
    margin-bottom: 10px;
    font-size: 12px; 
    border: 2px #264653bb;
    background-color: var(--colorGreen);
    text-align: center;
    cursor: pointer;
    font-weight: 800;
    color:white;
  }

  .button-change:hover{
    background-color: var(--colorHonver);
  }

   /*Footer component*/
  .footer{
    text-align: center;
    font-size: 12px;
    background-color: var(--colorYellow);
    width: 100%;
    padding: 20px 20px;
    color: var(--colorGreen);
    position: fixed;
    bottom: 0;
  }

  /*Account views*/

  .account{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: var(--colorGreen);
  }

  .account-user{
    font-weight: 600;
    font-size: 33px ;
  }

    .account-update{
    margin: 20px;
  }

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 12px;
  
  }

  .avatar-upload{
    margin: 20px;
    position: center;
  }

  .user-update{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-widget{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center ;
  }

  label{
    font-weight: 800;
    font-size: 14px;
  }

  #username, #usersurname, #email{
    border: none;
    padding: 4px;
    margin: 10px;
    background-color: #26465340;
    color: var(--colorGreen);
    font-weight: 600;
    border-radius: 3px;
  }
  

  .button-primary-block{
    padding: 10px 50px;
    border-radius: 3px;
    font-size: 12px;
    width: 100%; 
    margin-bottom: 50px;
    background-color: var(--colorGreen);
    border: none;
    font-weight: 800;
    color: #fafafa;
    cursor: pointer;
    }

    .button-primary-block:hover{
      background-color: var(--colorHover);
    }

    #single{
      visibility: hidden;
      position:fixed;
      width: auto;
    }
  

   

    
  /*MediaQuerys*/

  @media(min-width: 501px){
    .toggle{
      display: none;
    }

    .hamburger{
      display: none;
    }
  }

  @media(max-width:500px){
  
  nav{
    display: flex;
    flex-direction: column;
  }

  .nav-desktop{
    display: none;
  }

  .toggle{
    background-image: url(/src/assets/images/hamburguer.png);
    width: 70px;
    height: 70px;
    background-size: cover;
    border: none;
  }

  .log-out-welcome{
    display: none;
  }
 
  .hamburger{
    display: flex;
    flex-direction: column;
  }

  .title-new-task{
    font-size: 25px;
  }

  .button-add-task{
    padding: 10px 120px;
  }  

  .button-log-out{
    display: none;
  }

  .router-link-mobile{
    text-decoration: none;
    font-size: 10px;
    color: #fafafa;
    font-weight: 600;
  }

  .router-link-mobile:hover{
    color: var(--colorHover);
  }

  .button-log-out-mobile{
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 10px; 
    width: 100%;
    background-color: #fafafa;
    border: none;
    font-weight: 600;
    color: var(--colorGreen);
    cursor: pointer;
  }

  .button-log-out-mobile:hover{
    background-color: var(--colorHover);
    color: #fafafa;
  }
  
}